<app-navbar [searchActive]=false></app-navbar>


<app-loading *ngIf="loading"></app-loading>

<div class="offset pt-1 pb-3">

    <h1 class="mycart p-5"> <fa-icon [icon]="cartIcon"></fa-icon> My Cart</h1>

    <div class="container wow slideInDown" *ngIf= "!loading && !emptyCart">
        <div class="row">
            <div class="col-12">

                <div class="container border radius mt-2" *ngFor="let product of Products">
                    <div class="row">

                        <div class="col-6 border-right p-4">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-4 productImage" [style.background-image]="product.mainImage">
                                    </div>
                                    <div class="col-8 productTitle">
                                        <h1 class="pt-5 text-center">
                                            {{product.title}}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-2 p-4 border-right">
                            <div class="container-fluid Amount mt-5">
                                <div class="row">
                                    <div class="col-3"><fa-icon style="color: rgb(255, 1, 1);" role="button"
                                            (click)="ChangeAmount(product.mid,-1)" [icon]="minusIcon"></fa-icon></div>
                                    <div class="col-6 text-center">{{product.lastQuantity}}</div>
                                    <div class="col-3"><fa-icon style="color: rgb(11, 191, 11);" role="button"
                                            (click)="ChangeAmount(product.mid,1)" [icon]="plusIcon"></fa-icon></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 p-4 border-right">
                            <div class="productTitle mt-5">
                                <h1 class="text-center">
                                    {{product.price}} LE
                                </h1>
                            </div>
                        </div>

                        <div class="col-1 text-center">
                            <div class="pt-5 iconPos">
                                <fa-icon role ="button" (click) = "deleteProduct(product.mid)" class="mt-5" [icon]="deleteIcon" role="button" style="color: red;"></fa-icon>
                            </div>
                        </div>





                    </div>
                </div>

            </div>

            <div class="col-12 text-right ttlPrice mt-5">
                <h1>
                Total: {{totalPrice}} LE
            </h1>
            </div>

            <div class="col-12 text-right mt-2 actions">
                <button class = "btn-secondary cartButtons" (click) = "UpdateCart()">
                    Save Changes
                </button>

                <button class = "cartButtons btn-danger" (click) = "clearCart()">
                    Clear Cart
                </button>

                <button class = "cartButtons btn-success" (click) = "MakeOrder()">
                    Procceed To Checkout
                </button>
            </div>

        </div>
    </div>

    <div class="container alert border wow fadeInLeft" *ngIf= "!loading && emptyCart">
        <h1>
            You Don't Have Any Thing In Your Cart Yet
        </h1>
    </div>

</div>