<app-loading *ngIf="!loaded || !updating"></app-loading>


<div class="container" *ngIf = "loaded">
    <div class="row">

        <div class="col-12 ImageContainer">
            <div class="profilePic"></div>
        </div>

        <div class="col-12 text-center identifier">
            {{User[0]["username"]}}
        </div>
    </div>

    <div class="row border my-4 p-3 justify-content-between">

        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">First Name</span>
                </div>
                <input type="text" class="form-control" [value]="User[0].firstname" disabled>
            </div>
        </div>

        <div class="col-7">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Last Name</span>
                </div>
                <input type="text" class="form-control" [value]="User[0].lastname" disabled>
            </div>
        </div>


        <!-- =-=-=-=-=-=- -->

        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                </div>
                <input type="text" class="form-control" [value]="User[0].username" disabled>
            </div>
        </div>

        <div class="col-7">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" class="form-control" [value]="User[0].email" disabled>
            </div>
        </div>


        <!-- Editable -->

        <div class="col-5">
            <div class="input-group mb-3">
                
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                </div>

                <input type="password" [(ngModel)]="FieldsValue[0]" ngModel name="OPass" #OPass="ngModel"
                    class="form-control" required maxlength="50" [ngClass]="{'is-valid':enableEditing && OPass.touched && validInput[0],
                                'is-invalid': enableEditing && OPass.touched && !validInput[0]}" [disabled] = "!enableEditing" (input)="ValidateControl(0,OPass)">

                <div class="valid-feedback">
                    Looks good!
                </div>

                <div class="invalid-feedback">
                    {{ErrMsg[0]}}
                </div>
            </div>
        </div>


        <div class="col-7">
            <div class="input-group mb-3">
                
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Phone</span>
                </div>

                <input type="text" [(ngModel)]="FieldsValue[2]" ngModel name="Phone" #Phone="ngModel"
                    class="form-control" required maxlength="50" [ngClass]="{'is-valid':enableEditing && Phone.touched && validInput[2],
                                'is-invalid': enableEditing && Phone.touched && !validInput[2]}" [disabled] = "!enableEditing" (input)="ValidateControl(2,Phone)">

                <div class="valid-feedback">
                    Looks good!
                </div>

                <div class="invalid-feedback">
                    {{ErrMsg[2]}}
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Started At</span>
                </div>
                <input type="date" class="form-control" [value]="User[0].startedworkat" disabled>
            </div>
        </div>


        <div class="col-7">
            <div class="input-group mb-3">
                
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Date Of Birth</span>
                </div>

                <input type="date" [(ngModel)]="FieldsValue[1]" ngModel name="Dob" #Dob="ngModel"
                    class="form-control" required maxlength="50" [ngClass]="{'is-valid':enableEditing && Dob.touched && validInput[1],
                                'is-invalid': enableEditing && Dob.touched && !validInput[1]}" [disabled] = "!enableEditing" (input)="ValidateControl(1,Dob)">

                <div class="valid-feedback">
                    Looks good!
                </div>

                <div class="invalid-feedback">
                    {{ErrMsg[1]}}
                </div>
            </div>
        </div>




    </div>


    <div class="row">
        <div class="col-12 text-right mt-2 actions">
            <button class="cartButtons btn-success" *ngIf = "!enableEditing" (click) = "enableEditing = true; FieldsValue[0] = ''; validInput[0] = false">Edit You Profile</button>
            <button class="cartButtons btn-success" *ngIf = "enableEditing && !allValid" disabled>Save Changes</button>
            <button class="cartButtons btn-success" *ngIf = "enableEditing && allValid" (click) = "UpdateUser()">Save Changes</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
             
        </div>
    </div>
</div>


<div>
    <canvas id="myChart" class = "signlogs" width="100%" height="50"></canvas>
  </div>